Flask
transformers
requests
beautifulsoup4
mtranslate
gTTS
httpx
uuid
torch
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